<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/entry-table/entry-table.html">
<link rel="import" href="../../components/event-table/event-table.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">
<link rel="import" href="../../components/mid-tab/mid-tab.html">
<link rel="import" href="../../components/meet-table/meet-table.html">
<link rel="import" href="../../components/registration-table/registration-table.html">
<link rel="import" href="../../components/registrationfee-table/registrationfee-table.html">

<dom-module id="meet-setup">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
    </style>
    <div id="main" class="tab-container">
      <paper-tabs id="tabs" selected="{{selectedTab}}">
        <paper-tab name="meet">Meets</paper-tab>
        <paper-tab name="registrationfee">Registration Fees</paper-tab>
        <paper-tab name="registration">Registrations</paper-tab>
        <paper-tab name="event">Events</paper-tab>
        <paper-tab name="entry">Entries</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selectedTab}}">
        <meet-table name="meet" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></meet-table>
        <registrationfee-table name="registrationfee" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></registrationfee-table>
        <registration-table name="registration" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></registration-table>
        <event-table name="event" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></event-table>
        <entry-table name="entry" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></entry-table>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="meet-setup.js"></script>
