<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/api-manager/api-manager.html">

<dom-module id="sql-tab">
  <template>
    <style>
      :host {
        height: 100%;
      }
      [hidden] {
        display: none !important;
      }
      #main {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      #sqlText {
        flex: auto;
      }
      #buttons {
        flex: none;
      }
    </style>
    <div id="main">
      <paper-textarea id="sqlText" cols="60" autofocus="true"
	  placeholder="Enter SQL text" on-keydown="checkEnter">
      </paper-textarea>
      <div id="buttons">
        <paper-button on-click="execute">Execute</paper-button>
        <paper-button on-click="clear">Clear</paper-button>
      </div>
    </div>
  </template>
</dom-module>

<script src="sql-tab.js"></script>
