<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">
<link rel="import" href="../../components/qemid-tab/qemid-tab.html">
<link rel="import" href="../../components/table-edit/table-edit.html">
<link rel="import" href="../../components/table-query/table-query.html">

<dom-module id="challenge-table">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
    </style>
    <div id="main" class="tab-container">
      <paper-tabs id="tabs" selected="{{selectedTab}}">
        <paper-tab name="query">Query</paper-tab>
        <paper-tab name="edit">Edit[[editMoreLabel]]</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selectedTab}}">
        <table-query name="query" table-desc=[[tableDesc]] query-results={{queryResults}}></table-query>
        <table-edit name="edit" table-desc=[[tableDesc]] selected-result=[[selectedResult]]
            select-up=[[requestSelect]] edit-more-label={{editMoreLabel}}></table-edit>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="challenge-table.js"></script>
