<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/competition-table/competition-table.html">
<link rel="import" href="../../components/exception-table/exception-table.html">
<link rel="import" href="../../components/gender-table/gender-table.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">
<link rel="import" href="../../components/level-table/level-table.html">
<link rel="import" href="../../components/mid-tab/mid-tab.html">
<link rel="import" href="../../components/progression-table/progression-table.html">
<link rel="import" href="../../components/scoringrule-table/scoringrule-table.html">
<link rel="import" href="../../components/scoringsystem-table/scoringsystem-table.html">
<link rel="import" href="../../components/stage-table/stage-table.html">

<dom-module id="sport-setup">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
    </style>
    <div id="main" class="tab-container">
      <paper-tabs id="tabs" selected="{{selectedTab}}">
        <paper-tab name="competition">Competitions</paper-tab>
        <paper-tab name="level">Levels</paper-tab>
        <paper-tab name="gender">Genders</paper-tab>
        <paper-tab name="progression">Progressions</paper-tab>
        <paper-tab name="scoringsystem">Scoring System</paper-tab>
        <paper-tab name="scoringrule">Scoring Rule</paper-tab>
        <paper-tab name="stage">Stages</paper-tab>
        <paper-tab name="exception">Exceptions</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selectedTab}}">
        <competition-table name="competition" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></competition-table>
        <level-table name="level" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></level-table>
        <gender-table name="gender" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></gender-table>
        <progression-table name="progression" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></progression-table>
        <scoringsystem-table name="scoringsystem" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></scoringsystem-table>
        <scoringrule-table name="scoringrule" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></scoringrule-table>
        <stage-table name="stage" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></stage-table>
        <exception-table name="exception" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></exception-table>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="sport-setup.js"></script>
