<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/competition-setup/competition-setup.html">
<link rel="import" href="../../components/exception-setup/exception-setup.html">
<link rel="import" href="../../components/gender-setup/gender-setup.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">
<link rel="import" href="../../components/level-setup/level-setup.html">
<link rel="import" href="../../components/mid-tab/mid-tab.html">
<link rel="import" href="../../components/progression-setup/progression-setup.html">
<link rel="import" href="../../components/scoringrule-setup/scoringrule-setup.html">
<link rel="import" href="../../components/scoringsystem-setup/scoringsystem-setup.html">
<link rel="import" href="../../components/stage-setup/stage-setup.html">

<dom-module id="sport-setup">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
    </style>
    <div id="main" class="tab-container">
      <paper-tabs id="tabs" selected="{{selectedTab}}">
        <paper-tab name="competition">Competitions</paper-tab>
        <paper-tab name="level">Levels</paper-tab>
        <paper-tab name="gender">Genders</paper-tab>
        <paper-tab name="progression">Progressions</paper-tab>
        <paper-tab name="scoringsystem">Scoring System</paper-tab>
        <paper-tab name="scoringrule">Scoring Rule</paper-tab>
        <paper-tab name="stage">Stages</paper-tab>
        <paper-tab name="exception">Exceptions</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selectedTab}}">
        <competition-setup name="competition" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></competition-setup>
        <level-setup name="level" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></level-setup>
        <gender-setup name="gender" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></gender-setup>
        <progression-setup name="progression" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></progression-setup>
        <scoringsystem-setup name="scoringsystem" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></scoringsystem-setup>
        <scoringrule-setup name="scoringrule" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></scoringrule-setup>
        <stage-setup name="stage" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></stage-setup>
        <exception-setup name="exception" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></exception-setup>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="sport-setup.js"></script>
