<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/area-setup/area-setup.html">
<link rel="import" href="../../components/mid-tab/mid-tab.html">
<link rel="import" href="../../components/site-setup/site-setup.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">

<dom-module id="venue-setup">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
    </style>
    <div id="main" class="tab-container">
      <paper-tabs id="tabs" selected="{{selectedTab}}">
        <paper-tab name="site">Sites</paper-tab>
        <paper-tab name="area">Areas</paper-tab>
        <paper-tab name="laneorder">Lane Order</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selectedTab}}">
        <site-setup name="site" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></site-setup>
        <area-setup name="area" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></area-setup>
        <div class="tabContent" name="laneorderSetup">Lane Order Setup is not yet implemented</div>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="venue-setup.js"></script>
