<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/complan-table/complan-table.html">
<link rel="import" href="../../components/complanrule-table/complanrule-table.html">
<link rel="import" href="../../components/complanstage-table/complanstage-table.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">
<link rel="import" href="../../components/mid-tab/mid-tab.html">
<link rel="import" href="../../components/simplan-table/simplan-table.html">
<link rel="import" href="../../components/simplanrule-table/simplanrule-table.html">
<link rel="import" href="../../components/simplanstage-table/simplanstage-table.html">

<dom-module id="plan-setup">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
    </style>
    <div id="main" class="tab-container">
      <paper-tabs id="tabs" selected="{{selectedTab}}">
        <paper-tab name="simplan">Simplans</paper-tab>
        <paper-tab name="simplanrule">Simplan Rules</paper-tab>
        <paper-tab name="simplanstage">Simplan Stages</paper-tab>
        <paper-tab name="complan">Complans</paper-tab>
        <paper-tab name="complanrule">Complan Rules</paper-tab>
        <paper-tab name="complanstage">Complan Stages</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selectedTab}}">
        <simplan-table name="simplan" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></simplan-table>
        <simplanstage-table name="simplanstage" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></simplanstage-table>
        <simplanrule-table name="simplanrule" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></simplanrule-table>
        <complan-table name="complan" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></complan-table>
        <complanstage-table name="complanstage" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></complanstage-table>
        <complanrule-table name="complanrule" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></complanrule-table>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="plan-setup.js"></script>
