<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<custom-style>
  <style>
    html {
      --jraceman-background-color: #aaa;
    }
  </style>
</custom-style>

<dom-module id="jraceman-style">
  <template>
    <style>
      :host {
      }
      [hidden] {
        display: none !important;
      }

      .tab-container {
        display: flex;
        flex-direction: column;
      }
      .tab-container paper-tabs {
        flex: initial;
      }
      .tab-container iron-pages {
        flex: auto;
        height: inherit;
      }
      .tabContent {
        height: 100%;
      }
      .has-popup {
        overflow: visible;
      }

      paper-tabs {
        overflow: visible;
	--paper-tabs-selection-bar: {
          z-index: 100;
        }
        --paper-tabs-container: {
          overflow: visible;
        }
	--paper-tabs-selection-bar-color: blue;
        /* The selection bar is implemented in paper-tabs rather than in each
           tab, which makes it (as far as I can figure) impossible to make my
           overflowing menu from within the tab be on top of the selection bar.
           So turn off the selection bar. */
        /* This could be made to work by setting the z-index of the top-level
           menu bar higher than the second-level menu bar, etc, but that's a bit
           of a hassle. For now, leave the selection bar disabled. */
        --paper-tabs-selection-bar_-_z-index: -1;
      }
      paper-tab {
	background-color: #999;
      }
      paper-tab.iron-selected {
	color: var(--paper-tabs-selection-bar-color);
	background-color: var(--jraceman-background-color);
      }

      .tab-menu-item {
        min-height: 20px;
	--paper-item-min-height: 24px;
      }
      .tab-menu-item:hover {
        font-weight: bold;
      }

    </style>
  </template>
</dom-module>
