<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">

<dom-module id="client-messages">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
    </style>
    <div id="main">
      {{messagetext}}
    </div>
  </template>
</dom-module>

<script src="client-messages.js"></script>
