<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/api-manager/api-manager.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">

<dom-module id="reports-tab">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        display: flex;
        flex-direction: row;
        height: 100%;
      }
      #left {
        flex: 0 0 30%
      }
      #right {
        flex: 1
      }
      #buttons {
        flex: none;
      }
    </style>
    <div id="main">
      <div id="left">
        <div id="buttons">
          <paper-button on-click="generate">Generate</paper-button>
        </div>
        <div>
          Available reports:
          <select id="reportName" on-change="reportNameChanged">
            <template is="dom-repeat" items=[[reportList]] as="report">
              <option value="[[report.Name]]">[[report.Display]]</option>
            </template>
          </select>
          <br>
          Order By:
          <select id="orderBy">
            <template is="dom-repeat" items=[[orderByList]] as="item">
              <option value="[[item.Name]]">[[item.Display]]</option>
            </template>
          </select>
        </div>
      </div>  <!-- left -->
      <div id="right">
        Select:
        <br>
        <table>
          <template is="dom-repeat" items=[[whereList]] as="item">
            <tr>
              <td>[[item.Display]]</td>
              <td>
                <select id="op_[[item.Name]]">
                  <template is="dom-repeat" items=[[item.Ops]] as="op">
                    <option value="[[op.Name]]">[[op.Display]]</option>
                  </template>
                </select>
              </td>
              <td>
                <input type=text id="val_[[item.Name]]" name=[[item.Name]] label=[[item.Name]]></input>
              </td>
            </tr>
          </template>
        </table>
      </div>  <!-- right -->
    </div>
  </template>
</dom-module>

<script src="reports-tab.js"></script>
