<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/challenge-table/challenge-table.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">
<link rel="import" href="../../components/mid-tab/mid-tab.html">
<link rel="import" href="../../components/person-table/person-table.html">
<link rel="import" href="../../components/team-table/team-table.html">

<dom-module id="team-setup">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
    </style>
    <div id="main" class="tab-container">
      <paper-tabs id="tabs" selected="{{selectedTab}}">
        <paper-tab name="challenge">Challenges</paper-tab>
        <paper-tab name="team">Teams</paper-tab>
        <paper-tab name="person">People</paper-tab>
      </paper-tabs>

      <iron-pages selected="{{selectedTab}}">
        <challenge-table name="challenge" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></challenge-table>
        <team-table name="team" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></team-table>
        <person-table name="person" query-results="{{queryResults}}" selected-result=[[selectedResult]]
            select-up=[[requestSelect]]></simplanrule-person>
      </iron-pages>
    </div>
  </template>
</dom-module>

<script src="team-setup.js"></script>
