<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymer-decorators/polymer-decorators.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/vaadin-split-layout/vaadin-split-layout.html">
<link rel="import" href="../../components/client-messages/client-messages.html">
<link rel="import" href="../../components/debug-tab/debug-tab.html">
<link rel="import" href="../../components/jraceman-style/jraceman-style.html">
<link rel="import" href="../../components/query-results/query-results.html">
<link rel="import" href="../../components/sport-setup/sport-setup.html">
<link rel="import" href="../../components/venue-setup/venue-setup.html">

<dom-module id="jraceman-app">
  <template>
    <style include="jraceman-style">
      :host {
        height: 100%;
      }
      #main {
        height: 100%;
      }
      #top {
        height: 50%;
      }
      #bottom {
        height: 50%;
      }
    </style>
    <vaadin-split-layout id="main" orientation="vertical" vertical>
      <div id="top" class="tab-container">
        <paper-tabs selected="{{selectedTopTab}}">
          <paper-tab name="sportSetup">Sport Setup</paper-tab>
          <paper-tab name="planSetup">Plan Setup</paper-tab>
          <paper-tab name="venueSetup">Venue Setup</paper-tab>
          <paper-tab name="teamSetup">Team Setup</paper-tab>
          <paper-tab name="meetSetup">Meet Setup</paper-tab>
          <paper-tab name="byEvent">By Event</paper-tab>
          <paper-tab name="reports">Reports</paper-tab>
          <paper-tab name="database">Database</paper-tab>
          <paper-tab name="debug">Debug</paper-tab>
        </paper-tabs>

        <iron-pages selected="[[selectedTopTab]]">
          <sport-setup class="tabContent" name="sportSetup" query-results={{queryResults}}></sport-setup>
          <div class="tabContent" name="planSetup">Plan Setup is not yet implemented</div>
          <venue-setup class="tabContent" name="venueSetup" query-results={{queryResults}}></venue-setup>
          <div class="tabContent" name="teamSetup">Team Setup is not yet implemented</div>
          <div class="tabContent" name="meetSetup">Meet Setup is not yet implemented</div>
          <div class="tabContent" name="byEvent">By Event is not yet implemented</div>
          <div class="tabContent" name="reports">Reports is not yet implemented</div>
          <div class="tabContent" name="database">Database is not yet implemented</div>
          <debug-tab class="tabContent" name="debug" query-results={{queryResults}}></debug-tab>
        </iron-pages>
      </div>
      <div id="bottom" class="tab-container">
        <paper-tabs selected="{{selectedBottomTab}}">
          <paper-tab name="messages">Messages</paper-tab>
          <paper-tab name="queryResults">Query Results[[queryResultsMoreLabel]]</paper-tab>
          <paper-tab name="report">Report</paper-tab>
          <paper-tab name="help">Help</paper-tab>
        </paper-tabs>

        <iron-pages selected="[[selectedBottomTab]]">
          <client-messages name="messages"></client-messages>
          <query-results name="queryResults" query-results=[[queryResults]]
              query-results-more-label={{queryResultsMoreLabel}}></query-results>
          <div name="report">Report is not yet implemented</div>
          <div name="help">Help is not yet implemented</div>
        </iron-pages>
      </div>
    </vaadin-split-layout>
  </template>
</dom-module>

<script src="jraceman-app.js"></script>
